table {
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid var(--otterwiki-lm-surface);
}

th {
  background: var(--otterwiki-lm-surface) !important;
  font-weight: 600;
}

td {
  background: var(--otterwiki-lm-bg);
  border: 1px solid var(--otterwiki-lm-surface) !important;
}

tr:hover td {
  background: var(--otterwiki-lm-hover);
}
